<div class="bordered col-md-12 col-lg-12">
  <div>Сектор: {{sector.name}}</div>
  <table class="col-md-12 col-lg-12">
    <tr>
      <td *ngFor="let seat of sector.seats | sortBy:'id' | row:1 ">
        <button [class.selected]="markOccupied(seat.id)" [class.subscribed]="markSubscribed(seat.id)" [attr.disabled]="markSubscribed(seat.id)||null" [attr.title]="setTip(seat.id)"
          (click)="selectSeat(seat, $event.target.classList.contains('selected'))" data-toggle="modal" data-target="#myModal">{{seat.place}}</button>
      </td>
    </tr>
    <tr>
      <td *ngFor="let seat of sector.seats | sortBy: 'id' | row:2 ">
        <button [class.selected]="markOccupied(seat.id)" [class.subscribed]="markSubscribed(seat.id)" [attr.disabled]="markSubscribed(seat.id)||null" [attr.title]="setTip(seat.id)"
          (click)="selectSeat(seat, $event.target.classList.contains('selected'))" data-toggle="modal" data-target="#myModal">{{seat.place}}</button>
      </td>
    </tr>
    <tr>
      <td *ngFor="let seat of sector.seats | sortBy: 'id' | row:3 ">
        <button [class.selected]="markOccupied(seat.id)" [class.subscribed]="markSubscribed(seat.id)" [attr.disabled]="markSubscribed(seat.id)||null" [attr.title]="setTip(seat.id)"
          (click)="selectSeat(seat, $event.target.classList.contains('selected'))" data-toggle="modal" data-target="#myModal">{{seat.place}}</button>
      </td>
    </tr>
  </table>
  <div>Ціна: {{sector.price}} грн</div>
</div>