.selected {
	background-color: red;
}

td button {
	width: 100%;
	padding : 0px;
	font-size: 9px;
	color: #000000;
}

.bordered {
	border: solid 1px black;
	border-radius: 3px;
	padding: 10px;
	margin: 5px 0px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
}